<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="5">

  <User login="ADMIN"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues version="4">
    <Value configuration="1" property="XMLJournal\20080204125953">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\20090211140231">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\FFFF-7_02_1-01">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="CONSULTATION_USER_EMAIL_PROPERTY">
      <default></default>
      <actual></actual>
    </Value>
    <Value configuration="1" property="XMLJournal\FFFF-7_03_1-01">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\FFFF-7_03_1-02">
      <default>1</default>
      <actual>1</actual>
    </Value>
  </PropertyValues>

</Settings>
