<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/08/18 04:43:42 pugin Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/2002/gUML"
            class="guml.GumlPackage"
            genModel="model/uml.genmodel"/>
   </extension>

</plugin>
