// Модуль: "w:\common\components\gui\Garant\VCM\vcmTabbedMenuWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

vcmTabbedMenuWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vcmTabbedMenuWordsPack.rc.script.co
