// Модуль: "w:\common\components\gui\Garant\VCM\vcmTabbedMenuWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "vcmTabbedMenuWordsPack" MUID: (55C874550184)

vcmTabbedMenuWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vcmTabbedMenuWordsPack.rc.script.co
