// Модуль: "w:\archi\source\projects\Archi\Archi_Insider_Test_Support\AttributeExplorerWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "AttributeExplorerWordsPack" MUID: (553109700297)

AttributeExplorerWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE AttributeExplorerWordsPack.rc.script.co
