CVS/
__history/
__recovery/
.DS_Store/
garantServer/
.DS_Store
Binout/
BinOut/
*.~*~
*.~*
*.req
*.co
# *.exe
*.tlb
.classpath
.project
.dir
.options
bserv*.*
*.shapes
*.etalon.*
*.etalon
*.tmp
*.bak
*.dcu
#*.rar
# *.exe
*.jar
*.dat
*.dll
*.stub
*.bmp
*.zip
*.pdf
*.chm
*.wxi
*.query
*.gif
*.jpg
*.jpeg
*.arj
#*.rar
*.gz
*.aqr
*.wsf
*.vbs
*.ocx
*.msi
*.tfg
*.mfg
*.pfg
*.ico
*.vbx
*.has
*.htb
diskX/
mpc/
tao/
*.mpp
*.iso
#*.log
*.cvs
*.xls
*.mpt
*.sql
*.k
*.s
*.*kp
*.temp
*.temp(*)
*.ebs
*.ebx
*.xps
*.wmf
*.plg
*.rpt
*.bin
*.cab
.cvsignore
*.cvsignore
*.tre
*.tree