INNERNUMBERS DIALOG FIXED IMPURE LOADONCALL DISCARDABLE 0, 0, 320, 196
STYLE DS_3DLOOK |DS_SETFONT |WS_CHILD |WS_VISIBLE |WS_CLIPSIBLINGS 
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, 0
BEGIN
  CONTROL "",1119,"STATIC",SS_LEFT |WS_CHILD |WS_GROUP ,0,0,320,184
END
