body, table 
{
 background-color: #ffffe0;
 margin: 0px;
 border: 0px;
 font-family:verdana;
 font-size: 8pt;
 scrollbar-arrow-color:#314194;
}

.text 
{
 padding: 10px 5px 25px 25px;
 font-family:verdana;
 font-size: 8pt;
 text-align:justify;
}

a          {color:#008000; text-decoration:none; font-weight:bold;}
a:visited  {color:#008000; text-decoration:none;}
a:hover    {text-decoration:underline;}


hr {
 height:1px;
 color: #314194;
}

.h: {display:none;}

.nowrap {
 white-space: nowrap;
}

.underline {
 border: 0px;
 border-bottom: 1px solid gray;
}

.blue  {background: #314194;}

.btn {
 color: #333333;
 background-color: #EFEFEF;
 font-weight: bold;
 font-family:verdana;
 font-size: 80%;
 text-align: center;
 border-top: 1px solid #CFCFCF;
 border-left: 2px solid #BABABA;
 border-right: 2px solid #AAAAAA;
 border-bottom: 3px solid #909090;
 padding: 0 2px;
 line-height: 1.6em;
 vertical-align: center;
 white-space: nowrap;
 cursor:help;
}


.kbd {
 color: #333333;
 background-color: #EFEFEF;
 font-weight: bold;
 font-family:verdana;
 font-size: 80%;
 text-align: center;
 border-top: 1px solid #CFCFCF;
 border-left: 2px solid #BABABA;
 border-right: 2px solid #AAAAAA;
 border-bottom: 3px solid #909090;
 padding: 0 2px;
 line-height: 1.6em;
 vertical-align: center;
 white-space: nowrap;
 cursor:help;
}

    
.sel  {
 color: #555555;
 font-weight:bold;
}


acronym {
 border-bottom:1px dotted #314194;
 cursor: help;
 color: #314194;
}

.red {color:red;}

p {
 text-align:justify;
}

p.attn {
 margin-left:20px;
 padding-left: 5px;
 border-left: 1px solid #dddd00;
}

p.note {
 margin-left:20px;
 padding-left: 5px;
 border-left: 1px solid #999999;
}

p.see {
 color:#800080;
 margin-left:20px;
 padding-left: 5px;
 border-left: 1px solid #800080;
}

p.img {
 margin-left:20px;
 padding-left: 5px;
 border-left: 1px solid #999999;
}

p.debug {
 color:red;
 margin-left:20px;
 padding-left: 5px;
 border-left: 1px solid #dd0000;
}

pre {
 font-family:verdana;
 font-size: 7pt;
 color: gray;
}

.border
{
 background-color : #ffffcc;
 border: 1px solid black;
 clear: both;
 color: black;
 margin: 20px 0px;
 padding: 8px;
}


img {
 border:0px;
 margin:0px 2px 0px 1px;
 vertical-align:middle;
}

.screenshot {
 border: 2px solid white;
 cursor:hand;
}

.screenshotBorder {
 border: 2px groove;
 cursor:hand;
}

.screenshotL {
 display:none; 
}

.screenshotComment{
 cursor:hand;
 margin: 0px 5px;
}

.screenshotComment hr {
 width:100%;
}

newFeature {
 float:left;
 padding:5px;
 font-family:tahoma;
 font-size: 7pt;
 color:#314194;
}

ul {
 list-style: square;
 margin-left: 25px;
}

li {
 margin:7px 0px;
}

.first:first-letter {
 font-weight:bold;
 font-size:250%;
 float:left;
 color:#314194;
 margin:4px;
}

h1 {
 filter: Shadow(color=lightgrey, dir=0);
 font: small-caps normal normal 16pt normal;

 margin:15px 5px 5px;
 color:#314194;
 width: 100%;
}

h2 
{
 font: small-caps normal bold 12pt normal;
 color: #314194;
 margin: 25px 5px 5px -15px;
 padding:0px 0px 2px 2px;
}


h3 
{
 font: small-caps normal normal 8pt normal;
 border-bottom: 1px solid gray;
 color: #555555;
 width: 80%;
 margin: 25px 5px 5px -15px;
 padding:0px 0px 2px 2px;
}


table.hf 
{
 color:white;
 font-family:tahoma;
 font-size: 7pt;
 height: 20px;
 width: 100%;
}

table.hf #versionInfo {
 cursor:help;
}

a.hf, span.hf {
 margin: 0px 2px 0px 4px;
 color: #cbd8e9;
 text-decoration: none;
 font-weight:normal;
}

a.hf:visited
{
 color: #cbd8e9; 
 text-decoration: none;
}

a.hf:hover
{
 color: white;
 text-decoration: underline;
}

.nowrap {
 white-space: nowrap;
}

<!-- description -->

table.description {
 width:99%;
}

table.description td.caption {
 background-color: #314194;
 color: #ffffff;
 font-weight:bold;
 border:1px outset #d4d0c8;
 border-bottom:0px;
 padding-bottom:4px;
 margin-top:10px;
}

table.description td.outset {
 border: 1px outset;
 cursor:hand;
 background-color: #fafafa;
 color:#0000ff;
}

table.description td {
 background-color: #eeeeee;
 padding:3px 2px;
}

table.description td span.u {
}

table.description td span.uh {
 display:none;
}

span.u img, span.uh img {
 margin: 0px 2px;
 width :5px;
 height:6px;
}

table.description tr.list {
 display:none;
}

<!-- toolbar -->

.toolbar {
}

.toolbarT {
 display:inline;
 margin-right:0px; 
}

.toolbarT span {
 width:18px;
 height:18px;
 border:1px;
 background: transparent none no-repeat center center;
}

.toolbarGrayR {
 background-color:#e0e0e0;
 display:inline;
 border: 1px outset;
 border-left: 3px ridge;
}

.toolbar span, 
.toolbarGrayR span {
 width:24px;
 height:24px;
 border:1px;
 background: transparent none no-repeat center center;
}


.toolbar span.outset, 
.toolbarT span.outset,
.toolbarGrayR span.outset {
 border:1px outset;
 cursor:hand;
}

<!-- –¢¥â®¢®¥ ¢ë¤¥«¥­¨¥ -->

span.garantHeader {
 font-weight:bold;
 color:#000080;
}

span.garantRef {
 color:#008000;
 text-decoration:underline;
}

span.garantComment {
 font-style:italic;
 color: #800080;
}

span.garantUser {
 font-style:italic;
 color:#000080;
}



<!-- …—€’œ -->
<!-- …—€’œ -->
<!-- …—€’œ -->

@media print {

body, table {
 background-color: #ffffff; 
}

.text {
 padding: 10px 0px;
 font-family:verdana;
 font-size: 8pt;
}

table.hf, h6 {
 display:none;
}

h1 {
 filter:;
}

h2 {
 font: normal normal bold 10pt normal;
 border: 0px;
 border-bottom: 1px solid #cbd8e9;
}

h3 
{
 font: normal normal bold 8pt normal;
 margin: 25px 5px 5px 0px;
}

table.description td.caption {
 font-weight:bold;
 border: 0px;
 border-bottom: 1px solid black;
}

.toolbarT {
 display:none;
}

}
