<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="5">

  <User login="ADMIN"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues version="0">
    <Value configuration="1" property="XMLJournal\20061117162513">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\20060426130958">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\20061117163428">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\20061117163429">
      <default>1</default>
      <actual>1</actual>
    </Value>
  </PropertyValues>

</Settings>
