// Модуль: "w:\garant6x\implementation\Garant\GbaNemesis\View\Filters\InsFilterNodeWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "InsFilterNodeWordsPack" MUID: (53B533CE01B6)

InsFilterNodeWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE InsFilterNodeWordsPack.rc.script.co
