/****************************************************************************

evttStd.Unicode.rc

Everest Library
Copyright (c) 1995, 99 Alex W. Lulin

 $Id: evttStd.Unicode.rc,v 1.6 2000/12/15 15:10:39 law Exp $ 

 $Log: evttStd.Unicode.rc,v $
 Revision 1.6  2000/12/15 15:10:39  law
 - вставлены директивы Log.


*****************************************************************************/

evStandardTextStyleTable RCDATA LOADONCALL MOVEABLE DISCARDABLE evttStd.Unicode.evs
