/****************************************************************************

evttStd.Unicode.rc

Everest Library
Copyright (c) 1995, 99 Alex W. Lulin

 $Id: NemesisStyles.rc,v 1.1 2005/01/13 16:00:00 am Exp $ 

 $Log: NemesisStyles.rc,v $
 Revision 1.1  2005/01/13 16:00:00  am
 new: файлы стилей от немезиса

 Revision 1.6  2000/12/15 15:10:39  law
 - вставлены директивы Log.


*****************************************************************************/

evStandardTextStyleTable RCDATA LOADONCALL MOVEABLE DISCARDABLE NemesisStyles.evs
