@F1UsersSave.exe -GCMActiveDataPath 1 -GCMDataPath1 "C:\Program Files\Garant-Nemesis\data1" -GCMDataPath2 "C:\Program Files\Garant-Nemesis\data2" -GCMSettingsPath "C:\Program Files\Garant-Nemesis\settings" -ORBDottedDecimalAddresses 1 -ORBUseSharedProfiles 1 -XMLSavePath "C:\TEST"
