// Модуль: "w:\archi\source\projects\Everest\Lite\7.0\Express\EverestTestSupport\archiEditorWindowWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

archiEditorWindowWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE archiEditorWindowWordsPack.rc.script.co
