// Модуль: "w:\archi\source\projects\Everest\Lite\7.0\Express\EverestTestSupport\archiEditorWindowWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "archiEditorWindowWordsPack" MUID: (55B665AE01A8)

archiEditorWindowWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE archiEditorWindowWordsPack.rc.script.co
