// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\CustomFormProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"

CustomFormProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE CustomFormProcessingPack.rc.script.co
