// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\FontWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "FontWordsPack" MUID: (5190B264037C)

FontWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE FontWordsPack.rc.script.co
