// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\FormsProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "FormsProcessingPack" MUID: (50741A1F028C)

FormsProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE FormsProcessingPack.rc.script.co
