// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\InterfacedNodeWords.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "InterfacedNodeWords" MUID: (53B532DE0203)

InterfacedNodeWords RCDATA LOADONCALL MOVEABLE DISCARDABLE InterfacedNodeWords.rc.script.co
