// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\kwFiltersAndGeneratorsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "kwFiltersAndGeneratorsPack" MUID: (505AFAF6026B)

kwFiltersAndGeneratorsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE kwFiltersAndGeneratorsPack.rc.script.co
