// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\l3NodesKeyWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "l3NodesKeyWordsPack" MUID: (54EF449A0213)

l3NodesKeyWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE l3NodesKeyWordsPack.rc.script.co
