// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\MenuWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "MenuWordsPack" MUID: (4FC7292F02EA)

MenuWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE MenuWordsPack.rc.script.co
