// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\StatusBarWords.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "StatusBarWords" MUID: (505C855C024A)

StatusBarWords RCDATA LOADONCALL MOVEABLE DISCARDABLE StatusBarWords.rc.script.co
