// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\SysUtilsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "SysUtilsPack" MUID: (4F5EFA23015A)

SysUtilsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE SysUtilsPack.rc.script.co
