// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\tfwArchiHyperlinkScriptCaller.rc"
// Стереотип: "SimpleClass"

tfwArchiHyperlinkScriptCaller RCDATA LOADONCALL MOVEABLE DISCARDABLE tfwArchiHyperlinkScriptCaller.rc.script.co
