// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\tfwDictionaryExWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "tfwDictionaryExWordsPack" MUID: (55AE5A8C035D)

tfwDictionaryExWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE tfwDictionaryExWordsPack.rc.script.co
