// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\tfwF1HyperlinkScriptCaller.rc"
// Стереотип: "SimpleClass"

tfwF1HyperlinkScriptCaller RCDATA LOADONCALL MOVEABLE DISCARDABLE tfwF1HyperlinkScriptCaller.rc.script.co
