// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\tfwF1HyperlinkScriptCaller.rc"
// Стереотип: "SimpleClass"
// Элемент модели: "TtfwF1HyperlinkScriptCaller" MUID: (55D34A9B0067)

tfwF1HyperlinkScriptCaller RCDATA LOADONCALL MOVEABLE DISCARDABLE tfwF1HyperlinkScriptCaller.rc.script.co
