// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\TypeInfoPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "TypeInfoPack" MUID: (550C4C8701B4)

TypeInfoPack RCDATA LOADONCALL MOVEABLE DISCARDABLE TypeInfoPack.rc.script.co
