// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\VGComboBoxPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "VGComboBoxPack" MUID: (551D4B5B02FF)

VGComboBoxPack RCDATA LOADONCALL MOVEABLE DISCARDABLE VGComboBoxPack.rc.script.co
