// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\VGSceneWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "VGSceneWordsPack" MUID: (506AC306014F)

VGSceneWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE VGSceneWordsPack.rc.script.co
