// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\vtComboBoxWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

vtComboBoxWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vtComboBoxWordsPack.rc.script.co
