// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\vtOutlinerWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

vtOutlinerWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vtOutlinerWordsPack.rc.script.co
