// Модуль: "w:\archi\source\projects\Archi\Archi_Script_Engine\kwDocumentSpravka.rc"
// Стереотип: "ScriptKeyword"
// Элемент модели: "TkwDocumentSpravka" MUID: (4E5C937F00B2)

kwDocumentSpravka RCDATA LOADONCALL MOVEABLE DISCARDABLE kwDocumentSpravka.rc.script.co
