<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="5">

  <User login="2"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues version="0">
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Width">
      <default>420</default>
      <actual>420</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="stidNavigatorTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidFoldersTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Top">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>700</default>
      <actual>664</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_RECORD_LIST">
      <default>6AMGABkAAQATAAEA1Qc=
</default>
      <actual></actual>
    </Value>
    <Value configuration="1" property="sthfReview\State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>286</default>
      <actual>287</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Maximized">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Width">
      <default>1032</default>
      <actual>1032</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Height">
      <default>776</default>
      <actual>742</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_ORDER_VERSION">
      <default>25</default>
      <actual>27</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>700</default>
      <actual>664</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Left">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_SHOWN">
      <default>6</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
  </PropertyValues>

</Settings>
