// Модуль: "w:\common\components\rtl\Garant\DUnit_Script_Support\ITestWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "ITestWordsPack" MUID: (55C9F202036D)

ITestWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE ITestWordsPack.rc.script.co
