<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings>

  <User login="1"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>287</default>
      <actual>233</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Height">
      <default>776</default>
      <actual>742</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Width">
      <default>341</default>
      <actual>277</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>698</default>
      <actual>673</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Top">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Width">
      <default>1032</default>
      <actual>1032</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>698</default>
      <actual>673</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Left">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Maximized">
      <default>1</default>
      <actual>255</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
  </PropertyValues>

</Settings>
