// Модуль: "w:\garant6x\implementation\Garant\GbaNemesis\F1_Words\InterfacedNodeWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "InterfacedNodeWordsPack" MUID: (53B533CE01B6)

InterfacedNodeWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE InterfacedNodeWordsPack.rc.script.co
