// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\FileProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"

FileProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE FileProcessingPack.rc.script.co
