// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\ArrayProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"

ArrayProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE ArrayProcessingPack.rc.script.co
