// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\EditorFromStackKeyWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

EditorFromStackKeyWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE EditorFromStackKeyWordsPack.rc.script.co
