// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\FileProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "FileProcessingPack" MUID: (4F4FD7EA00EB)

FileProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE FileProcessingPack.rc.script.co
