// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\kwMain.rc"
// Стереотип: "SimpleClass"
// Элемент модели: "TkwMain" MUID: (4DC90A1E03C2)

kwMain RCDATA LOADONCALL MOVEABLE DISCARDABLE kwMain.rc.script.co
