// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\BasicsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "BasicsPack" MUID: (4F43A128007E)

BasicsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE BasicsPack.rc.script.co
