// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\vtOutlinerWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "vtOutlinerWordsPack" MUID: (503F914E00EF)

vtOutlinerWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vtOutlinerWordsPack.rc.script.co
