// Модуль: "w:\garant6x\implementation\Garant\GbaNemesis\F1_Words\InterfacedNodeWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

InterfacedNodeWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE InterfacedNodeWordsPack.rc.script.co
