// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\ObjectFromstackWords.rc"
// Стереотип: "ScriptKeywordsPack"

ObjectFromstackWords RCDATA LOADONCALL MOVEABLE DISCARDABLE ObjectFromstackWords.rc.script.co
