// Модуль: "w:\archi\source\projects\Archi\Archi_Insider_Test_Support\archiDocEditorWindowWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "archiDocEditorWindowWordsPack" MUID: (55B664E00149)

archiDocEditorWindowWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE archiDocEditorWindowWordsPack.rc.script.co
