// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\l3NodesKeyWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

l3NodesKeyWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE l3NodesKeyWordsPack.rc.script.co
