// Модуль: "w:\common\components\rtl\Garant\DUnit_Script_Support\kwKeyWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "kwKeyWordsPack" MUID: (51304A1F02AD)

kwKeyWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE kwKeyWordsPack.rc.script.co
