// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\WordsRTTIPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "WordsRTTIPack" MUID: (550C25D70182)

WordsRTTIPack RCDATA LOADONCALL MOVEABLE DISCARDABLE WordsRTTIPack.rc.script.co
