// Модуль: "w:\common\components\rtl\Garant\DUnit_Script_Support\TTreeNodeForTestsWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

TTreeNodeForTestsWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE TTreeNodeForTestsWordsPack.rc.script.co
