// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\KeyboardInputPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "KeyboardInputPack" MUID: (50195665016F)

KeyboardInputPack RCDATA LOADONCALL MOVEABLE DISCARDABLE KeyboardInputPack.rc.script.co
