// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\VGSceneWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

VGSceneWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE VGSceneWordsPack.rc.script.co
