// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\vtComboBoxWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "vtComboBoxWordsPack" MUID: (54EC8C7C011E)

vtComboBoxWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE vtComboBoxWordsPack.rc.script.co
