// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\kwFiltersAndGeneratorsPack.rc"
// Стереотип: "ScriptKeywordsPack"

kwFiltersAndGeneratorsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE kwFiltersAndGeneratorsPack.rc.script.co
