// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\TevCustomEditorWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

TevCustomEditorWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE TevCustomEditorWordsPack.rc.script.co
