// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\InterfacedNodeWords.rc"
// Стереотип: "ScriptKeywordsPack"

InterfacedNodeWords RCDATA LOADONCALL MOVEABLE DISCARDABLE InterfacedNodeWords.rc.script.co
