// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\CustomFormProcessingPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "CustomFormProcessingPack" MUID: (553252BF022D)

CustomFormProcessingPack RCDATA LOADONCALL MOVEABLE DISCARDABLE CustomFormProcessingPack.rc.script.co
