// Модуль: "w:\archi\source\projects\Archi\Archi_Insider_Test_Support\AttributeExplorerWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

AttributeExplorerWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE AttributeExplorerWordsPack.rc.script.co
