// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\ObjectFromstackWords.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "ObjectFromstackWords" MUID: (507698410297)

ObjectFromstackWords RCDATA LOADONCALL MOVEABLE DISCARDABLE ObjectFromstackWords.rc.script.co
