// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\evSchemaWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"
// Элемент модели: "evSchemaWordsPack" MUID: (54EDDCAC016A)

evSchemaWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE evSchemaWordsPack.rc.script.co
