// Модуль: "w:\common\components\rtl\Garant\DUnit_Script_Support\ITestWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

ITestWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE ITestWordsPack.rc.script.co
