// Модуль: "w:\common\components\rtl\Garant\ScriptEngine\tfwDictionaryExWordsPack.rc"
// Стереотип: "ScriptKeywordsPack"

tfwDictionaryExWordsPack RCDATA LOADONCALL MOVEABLE DISCARDABLE tfwDictionaryExWordsPack.rc.script.co
