div.mmenu,
div.mmenu a.mButton,
div.menu,
div.menu a.mItem {
  font-family: sans-serif, arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  white-space: nowrap;
}

div.mmenu {
  width:100%;
  background-color: #e0e0e0;
  border: 2px outset #e0e0e0;
  padding: 2px 4px;
}

div.caption {
 width:100%;
 padding: 3px 2px;
 background-color: #0b256b;
 color: #ffffff;
 font-weight:bold;
 border: 2px outset #e0e0e0;
 border-bottom:0px;
 white-space: nowrap;
 cursor: default;
}

div.container {
 margin-left: -15px;
}

div.mItems  {
 margin: 16px;
}

div.mmenu a.mButton {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  color: #000000;
  cursor: default;

  margin: 0px;
  padding: 2px 6px;
  width:0%; height:0%;

  text-decoration: none;
  z-index: 100;
}

div.mmenu a.mButton:hover {
  background-color: transparent;
  border: 1px outset #e0e0e0;
  color: #000000;
}

div.mmenu a.mButtonActive,
div.mmenu a.mButtonActive:hover {
  background-color: #5050f0;
  border: 1px inset #e0e0e0;
  color: #ffffff;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #e0e0e0;
  border: 2px outset #e0e0e0;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.mItem {
  color: #000000;
  cursor: hand;
  display:block;
  padding: 2px 4px 2px 1px;
  text-decoration: none;
  white-space: nowrap;
}

div.menu div.mItemGray {
  color: #888888;
  cursor: default;
  display:block;
  padding: 2px;
  text-decoration: none;
  text-align:center;
}

div.menu a.mItem:hover, div.menu a.mItemHighlight {
  background-color: #5050f0;
  color: #ffffff;
  cursor: hand;
}

div.menu a.mItem span.mItemText {}

div.menu a.mItem span.mItemArrow {
}

div.menu div.mItemSep {
  border: 1px inset;
  margin: 4px 2px;
}

}

.mItem img {
 border:0px;
 margin:0px 4px 0px 1px;
 width:16px;
 height:16px;
}
