<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="4">

  <User login="ADMIN"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues>
    <Value configuration="1" property="XMLJournal\20061023180120">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="XMLJournal\20060426130958">
      <default>1</default>
      <actual>1</actual>
    </Value>
  </PropertyValues>

</Settings>
