// Модуль: "w:\garant6x\implementation\Garant\GbaNemesis\View\Search\PrimMonitorings_Module.rc"
// Стереотип: "VCMFormsPack"
// Элемент модели: "PrimMonitorings" MUID: (4A8ECF3001D2)
// Имя типа: "TPrimMonitoringsModule"

PrimMonitorings_Module RCDATA LOADONCALL MOVEABLE DISCARDABLE PrimMonitorings_Module.rc.script.co
