
<!-- CommonDoc -->
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=windows-1251" />
	<meta http-equiv="content-language" content="ru" />
	<title>Постановление от 21 июля 2008 г. N 548 Об утверждении коэффициента индексации с 1 августа 2008 г. страховой части трудовой пенсии </title>
	
	<meta name="site-created" content="22.07.2008 14:59:32" />
	<meta name="keywords" content="" />
	  

	<!-- framework -->
	<script type="text/javascript" language="javascript" src="/governments/js/jquery.js"></script>

	<!-- tab -->
	<script type="text/javascript" language="javascript" src="/governments/js/tab.js"></script>



	<!-- lightbox -->
	<script type="text/javascript" language="javascript" src="/governments/js/lightbox.js"></script>
	<link type="text/css" rel="stylesheet" href="/governments/css/lightbox.css" />

	<!-- gov -->
	<script type="text/javascript" language="javascript" src="/governments/js/gov.js"></script>


	<link type="text/css" rel="stylesheet" href="/governments/css/gov.css" />


<!-- Inserted by Content Management Server: BEGIN EmbedTmplHeadHook -->
	<META name="ROBOTS" content="FOLLOW,INDEX">

<!-- Inserted by Content Management Server: END EmbedTmplHeadHook -->

</head>

<body>

<!-- Inserted by Content Management Server: BEGIN EmbedBodyBeginHook -->

<!-- Inserted by Content Management Server: END EmbedBodyBeginHook -->


<table border="0" cellpadding="0" cellspacing="0" align="center" class="govPage">
<tr valign="top">
	<td width="100%">

	
<!-- Begin Header. -->

		<!-- logo & search -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr valign="bottom">

			<td nowrap=""><a href="/content/"><img border="0" src="/governments/images/logo.gif" title="Интернет-портал Правительства Российской Федерации" width="260" height="35" vspace="6" /></a></td>


			<!-- console -->
			<td width="100%" class="govPanoramaTop">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr valign="bottom">
					<td nowrap="" width="100%">
						
		<div id=dConsole style="visibility: visibile; ">
<font face="Verdana,Arial,sans-serif" size="3"><b></b></font>
		</div>
	
					</td>
					<td nowrap="">

			</td>
				</tr>
				</table>

				<div style="height:6px"><spacer /></div>
			</td>

			<td nowrap="" align="right">

				<!--div class="govCurrentDay">сегодня 22&nbsp;июль, вторник</div-->
				<div class="govCurrentDay">сегодня <script> _govShowDate(); </script></div>

				
				<form name="search" method="get" action="http://search.government.ru/search" target="_blank">
				
				<input type="hidden" name="how" value="tm">
				<table border="0" cellpadding="0" cellspacing="0" class="govSearch">
				<tr valign="top">
					<th class="govLeft"><img src="/governments/images/search/top_left.gif" width="5" height="5" /></th>
					<td rowspan="2"><input type="text" name="text" onfocus="this.value='';" value="поиск..." class="govForm" /></td>
					<th class="govCenter"><img src="/governments/images/search/top_center.gif" width="5" height="5" /></th>
					<td rowspan="2"><input type="button" value="Поиск" class="govButton" onclick="submit()" /></td>
					<th class="govRight"><img src="/governments/images/search/top_right.gif" width="5" height="5" /></th>
				</tr>
				<tr valign="bottom">
					<th class="govLeft"><img src="/governments/images/search/bottom_left.gif" width="5" height="5" /></th>
					<th class="govCenter"><img src="/governments/images/search/bottom_center.gif" width="5" height="5" /></th>
					<th class="govRight"><img src="/governments/images/search/bottom_right.gif" width="5" height="5" /></th>
				</tr>
				</table>
				
				</form>
				

				<div style="width:267px;height:6px"><spacer /></div>
			</td>
		</tr>
		</table>
		<!-- /logo & search -->

		<!-- panorama -->
		<div id="panorama">
			<div class="govPanLeft"> <img src="/governments/images/corner.gif" width="1" height="134" /></div>
			<div class="govPanRight"><img src="/governments/images/corner.gif" width="1" height="134" /></div>
		</div>
		<script>
			var _rndNum = Math.floor(Math.random()*7) + 1;
			//document.getElementById("panorama").className = "govPanorama" + _rndNum;

			document.getElementById("panorama").className = "govPanorama";

		</script>
		<!-- /panorama -->

		<!-- menu -->
		
<!-- topmenu -->
<table border="0" cellspacing="0" cellpadding="0" class="govMenu">
<tr valign="bottom">
	<td class="govSep"><div><spacer /></div></td>

<td class="govFirstOff"><div><spacer /></div></td><td class="govOff" width="20%"><div><a target="_self" href='/content/rfgovernment/rfgovernmentchairman/' >Председатель Правительства Российской Федерации</a></div></td><td class="govRightOff"><div><spacer /></div></td><td class="govOff" width="20%"><div><a target="_self" href='/content/rfgovernment/' >Правительство Российской Федерации</a></div></td><td class="govFirstOn"><div><spacer /></div></td><td class="govOn" width="20%">
				<div><a target="_self" href='/content/governmentactivity/' >Деятельность  Правительства Российской Федерации</a></div>
				
			</td><td class="govRightOn"><div><spacer /></div></td><td class="govOff" width="20%"><div><a target="_self" href='/content/executivepowerservices/' >Федеральные органы исполнительной власти</a></div></td><td class="govRightOff"><div><spacer /></div></td><td class="govOff" width="20%"><div><a target="_self" href='/content/coordinatingauthority/' >Координационные и совещательные органы</a></div></td><td class="govLastOff"><div><spacer /></div></td>
	<td class="govSep"><div><spacer /></div></td>
</tr>
</table>
<!-- /topmenu -->
<div id='activeTitle'>Деятельность  Правительства Российской Федерации</div>
		<!-- /menu -->

		<!-- submenu -->
		
<table border="0" cellspacing="0" cellpadding="0" class="govSubMenu">
<tr valign="bottom">
	<td class="govSep"><div><spacer /></div></td>
	<td class="govOff">&#160;</td>

	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/mainnews/' href="">Главная новость</a></div></td>
	<td class="govDot"><div><spacer /></div></td>	
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/insiderfgovernment/' href="">Хроника дня</a></div></td>

	<td class="govLeftOn"><div><spacer /></div></td>
	<td class="govOn"><div><a target="_self" href='/content/governmentactivity/rfgovernmentdecisions/' href="">Решения Правительства</a></div></td>
	<td class="govRightOn"><div><spacer /></div></td>
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/sferyvediniy/' href="">Сфера ведения</a></div></td>
	<td class="govDot"><div><spacer /></div></td>	
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/government%5Fmeetings/' href="">Government meetings</a></div></td>
	<td class="govDot"><div><spacer /></div></td>	
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/kzp/' href="">К заседанию Правительства</a></div></td>
	<td class="govDot"><div><spacer /></div></td>	
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/presscenter/' href="">Пресс-служба</a></div></td>
	<td class="govDot"><div><spacer /></div></td>	
			
	<td class="govOff"><div><a target="_self" href='/content/governmentactivity/dokum/' href="">Правовой раздел</a></div></td>

	<td class="govOff" width="100%">&#160;</td>
	<td class="govSep"><div><spacer /></div></td>
</tr>
</table>

		<!-- /submenu -->

		
		<!-- path -->
		
	<div class="govPath" id="printPath">
		<a href='/content/' href="" title="" class="">Главная страница</a> <img src='/governments/images/icon_path.gif' align='absmiddle' /> <a href='/content/governmentactivity/' href="" title="" class="">Деятельность  Правительства Российской Федерации</a> <img src='/governments/images/icon_path.gif' align='absmiddle' /> <a href='/content/governmentactivity/rfgovernmentdecisions/' href="" title="" class="">Решения Правительства</a>
	</div>
	
		<!-- /path -->
		

<!-- End Header -->

<!--content table-->
<table width="100%" border=0 cellpadding=4 cellspacing=0 id="printContent">
<tr>
	<td valign="top" align=left>

				
	<table border=0 cellpadding=0 cellspacing=0 width="100%">
	
	
	<tr valign="top">
		<td>    
		</td>

		<td>
			
		</td>

		<td width="100%">
		
			<table cellpadding=0 cellspacing=0 border=0>
			<tr>
				<td class="govDate">
					Дата: 21.07.2008 18:00
				</td>
			</tr>
			
			<tr>
				<td class="govTitle">
					Постановление от 21 июля 2008 г. N 548 Об утверждении коэффициента индексации с 1 августа 2008 г. страховой части трудовой пенсии 
					<div>&#160;</div>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
	
	<table border=0 cellpadding=0 cellspacing=0 width="100%">
	
	
	<tr>
		<td colspan="3" class="govText">
			<p align="justify">
			<P>В целях реализации пункта 7 статьи 17 Федерального закона "О трудовых пенсиях в Российской Федерации" Правительство Российской Федерации <B>постановляет:<BR></B><BR>1. Утвердить коэффициент индексации с 1 августа 2008 г. страховой части трудовой пенсии в размере 1,08.<BR>2. Пенсионному фонду Российской Федерации проинформировать свои территориальные органы о размере коэффициента, утвержденного настоящим постановлением, для увеличения пенсий, установленных Федеральным законом "О трудовых пенсиях в Российской Федерации".<BR>3. Настоящее постановление вступает в силу с 1 августа 2008 г.</P>
<P>Председатель Правительства<BR>Российской Федерации В.Путин</P>
		</p>
		</td>
	</tr>
	
	
	
	<tr>
		<td colspan="3" class="govAttachment" id="govAttach">



		    <p></p>

			<p></p>

			<p></p>

			<p></p>

			<p></p>
		</td>
	</tr>
	</table>	

</td>
</tr>
</table>						
<!--/content table-->

	</td>
</tr>

<tr valign="bottom">
	<td>
		<br>
		<div id="art" align="right"><img src="/governments/images/2arttools.gif" width="231" height="22" border="0" alt="" usemap="#arttools"></div>
<map name="arttools">
<area alt="Поставить закладку" coords="0,0,115,20"   href="javascript:window.external.addFavorite(location.href,document.title);">
<area alt="Версия для печати"  coords="116,0,228,20" href="#" onclick="return govPrint()">
</map>
		<br>
		<!-- footer -->

<table border="0" cellpadding="0" cellspacing="0" class="govFooter">
<tr>
	<td>
		&copy 2008. Интернет-портал Правительства Российской Федерации.<br>
		Все права защищены.
	</td>
</tr>	
</table>
<!-- /footer -->

	</td>
</tr>
</table>

<!-- Inserted by Content Management Server: BEGIN EmbedBodyEndHook -->

<!-- Inserted by Content Management Server: END EmbedBodyEndHook -->

</body>
</html>

