<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<p>ОБОСНОВАНИЕ ВЫВОДА:</p>
<p></p>
<p>В соответствии с частью первой ст. 178 ТК РФ при увольнении работника в связи с ликвидацией организации ему должно быть выплачено выходное пособие в размере среднего месячного заработка.</p>
<p></p>
<p>Согласно части четвертой ст. 84.1, части первой ст. 140 ТК РФ при прекращении трудового договора выплата всех сумм, причитающихся работнику от работодателя, производится в день увольнения работника. Следовательно, в день увольнения работодатель должен выплатить работнику в числе сумм, подлежащих выплате в этот день, в том числе и сумму выходного пособия в размере среднего месячного заработка.</p>
<p></p>
<p>Порядок расчета среднего заработка для исчисления выходного пособия определен ст. 139 ТК РФ и Положением об особенностях порядка исчисления средней заработной платы, утвержденным постановлением Правительства РФ от 24.12.2007 N 922 (далее - Положение).</p>
<p></p>
<p>Расчет среднего заработка работника, независимо от режима его работы, производится исходя из фактически начисленной ему заработной платы и фактически отработанного им времени за 12 календарных месяцев, предшествующих периоду, в течение которого за работником сохраняется средняя заработная плата. При этом календарным месяцем считается период с 1-го по 30-е (31-е) число соответствующего месяца включительно (в феврале - по 28-е (29-е) число включительно) (п. 4 Положения).</p>
<p></p>
<p>Так, если в <b>рассматриваемом</b> случае увольнение планируется на 30 ноября 2011 года, расчетным периодом являются 12 календарных месяцев, предшествующих месяцу, в котором произошло увольнение, то есть период с 01.11.2010 по 31.10.2011.</p>
<p></p>
<p>Для расчета средней заработной платы учитываются все предусмотренные системой оплаты труда виды выплат, применяемые у соответствующего работодателя, независимо от источников этих выплат (часть вторая ст. 139 ТК РФ). Перечень таких выплат указан в п. 2 Положения. При исчислении среднего заработка из расчетного периода исключается время, а также начисленные за это время суммы, указанные в п. 5 Положения.</p>
</body>
</html>