<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<p style="text-align: center;"><strong>Уважаемая Ирина Валентиновна !</strong></p>
<p>Рекомендуем Вам воспользоваться следующими материалами:</p>
<p>-&nbsp;Вопрос: Наша сотрудница вышла замуж. У нее поменялась фамилия. Как внести изменения в трудовую книжку? ("Оплата труда: бухгалтерский учет и налогообложение", N 9, сентябрь 2010 г.)</p>
<p>-&nbsp;Вопрос: Сотрудница, выйдя замуж, изменила фамилию. Нужно ли в этой ситуации заключать дополнительное соглашение к трудовому договору? ("Кадровик. Кадровое делопроизводство", N 12, декабрь 2009 г.)</p>
<p>-&nbsp;Вопрос: Сотрудница отдела логистики вышла замуж и сменила фамилию (была Астахова, стала Рычкова). Как правильно оформить процедуру смены фамилии в учетных документах? ("Кадровая служба и управление персоналом предприятия", N 4, апрель 2008 г.)</p>
<p>-&nbsp;Оформляем смену фамилии ("Кадровик.ру", N 10, октябрь 2012 г.)</p>
<p>-&nbsp;Сотрудница, выйдя замуж, изменила фамилию.</p>
<p>Как правильно внести изменения в личную карточку (форма Т-2), трудовую книжку, другие кадровые документы? Обязательно ли издавать по данному поводу приказы? Необходимо ли вносить изменения в трудовой договор, заключенный с работником? Если да, то каков порядок? (ответ службы Правового консалтинга ГАРАНТ, 18 октября 2010г.)</p>
<p></p>
<p>Данные материалы направлены на указанный Вами адрес электронной почты rooidrin@rambler.ru</p>
<p></p>
<p>Ответ предоставлен в рамках услуги &laquo;Горячая линия&raquo; информационно-правовой поддержки.</p>
<p>__________________________________________</p>
<p>СПРАВОЧНАЯ ИНФОРМАЦИЯ:</p>
<p></p>
<p>Пакет услуг Правового консалтинга</p>
<p></p>
<p>- уникальный информационный блок &laquo;База знаний службы Правового консалтинга&raquo;, включающий решения по наиболее актуальным практическим вопросам. Блок постоянно обновляется актуальными экспертными заключениями (более 700 в месяц);</p>
<p>- право на получение индивидуальных письменных заключений по практическим ситуациям с последующим их включением в экземпляр комплекта клиента.</p>
<p></p>
<p>Подготовка письменных заключений осуществляется по следующим правовым тематикам:</p>
<p>налогообложение;</p>
<p>бухгалтерский учет;</p>
<p>трудовое право;</p>
<p>гражданское право в части регулирования предпринимательской деятельности;</p>
<p>бухгалтерский учет в бюджетной сфере;</p>
<p>законодательство о госзакупках.</p>
<p>Пакет услуг Правового консалтинга требует специального подключения.</p>
<p></p>
<p>Услуга &laquo;Горячая линия&raquo; информационно-правовой поддержки входит в пакет услуг по обслуживанию системы ГАРАНТ.</p>
<p>В рамках &laquo;Горячей линии&raquo; информационно-правовой поддержки Вам предлагается:</p>
<p>подборка документов по вопросу;</p>
<p>помощь в поиске отсутствующего документа;</p>
<p>ответы на вопросы о действии документа;</p>
<p>помощь в использовании поисковых и аналитических средств.</p>
<p>Услуга &laquo;Горячая линия&raquo; информационно-правовой поддержки не требует дополнительной оплаты.</p>
<p></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;">
<tbody>
<tr style="font-size: 11px;">
<td valign="TOP" style="font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; white-space: nowrap; padding-left: 15px;"><img src="../../_/global/_.gif" width="150" height="1" /></p><p></p><p>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
<tbody>
<tr style="font-size: 11px;">
<td align="center" width="100%" style="font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;"><span style="font-size: 5pt;"></p><p></span></td>
</tr>
</tbody>
</table>
<div id="buttonshow"></div>
<hr width="130" size="1" /></td>
</tr>
</tbody>
</table>
</body>
