<html>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<HEAD>
<TITLE></TITLE>
</HEAD>
<body>
<table border="1">
 <tr>
<th VALIGN="TOP" width="59">
<p>N п/п</p>
</th>
<th VALIGN="TOP" width="168">
<p>Мероприятие, на проведение которого предоставляется субсидия</p>
</th>
<th VALIGN="TOP" width="182">
<p>Условия предоставления субсидии, установленные Правительством Российской Федерации или Правительством Кировской области</p>
</th>
<th VALIGN="TOP" width="132">
<p>Требования технологического или иного характера, обеспечивающие сохранение или повышение эффективности деятельности получателя субсидии, установленные департаментом</p>
</th>
<th VALIGN="TOP" width="127">
<p>Ставка субсидии</p>
</th>
<th VALIGN="TOP" width="166">
<p>Отчетные документы, подлежащие представлению получателем субсидии органу местного управления</p>
</th>
<th VALIGN="TOP" width="141">
<p>Сроки представления отчетных документов получателем субсидии органу местного самоуправления</p>
</th>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1</p>
</td>
<td VALIGN="TOP" width="168">
<p>2</p>
</td>
<td VALIGN="TOP" width="182">
<p>3</p>
</td>
<td VALIGN="TOP" width="132">
<p>4</p>
</td>
<td VALIGN="TOP" width="127">
<p>5</p>
</td>
<td VALIGN="TOP" width="166">
<p>6</p>
</td>
<td VALIGN="TOP" width="141">
<p>7</p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="-1031">1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание организациями по племенному животноводству племенного маточного поголовья всех видов сельскохозяйственных животных: </p>
</td>
<td VALIGN="TOP" width="182">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="132">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">На 1 условную голову, определенную в соответствии с коэффициентами перевода в условные головы, утвержденными Минсельхозом России, содержащуюся на начало года обращения за субсидией: </p>
</td>
<td VALIGN="TOP" width="166">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="141">
<pre>&nbsp;</pre>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание которого субсидируется за счет средств, поступающих из федерального бюджета: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="13">
<p class="NormalTable">1. Проведение мероприятия сельскохозяйственными товаропроизводителями, включенными в перечень, утверждаемый Минсельхозом России.</p>
<p class="NormalTable">2. В случае содержания крупного рогатого скота молочного и мясного направления продуктивности - получение на каждую корову, на содержание которой предоставляется субсидия, живого теленка в отчетном году (году, предшествующем году обращения за субсидией) </p>
</td>
<td VALIGN="TOP" width="132" rowspan="13">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127" rowspan="2">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="166" rowspan="22">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1006">форме</a> N Ж-1/1.</p>
<p class="NormalTable">2. Внутрихозяйственные отчеты о движении скота и птицы на ферме за год, предшествующий году обращения за субсидией, и за год обращения за субсидией (по начало месяца обращения за субсидией), составленные по прилагаемой <a href="#1007">форме</a> N Ж-1/2.</p>
<p class="NormalTable">3. Документ, подтверждающий статус организации по племенному животноводству.</p>
<p class="NormalTable">4. Опись коров, от которых получены живые телята в году, предшествующем году обращения за субсидией, составленная по прилагаемой <a href="#1008">форме</a> N Ж-1/3, - в случае предоставления субсидий на содержание маточного поголовья крупного рогатого скота молочного и мясного направления продуктивности.</p>
<p class="NormalTable">5. Отчет о производстве, себестоимости и реализации продукции животноводства за год, предшествующий году обращения за субсидией, составленный по форме годовой бухгалтерской отчетности N 13-АПК</p>
</td>
<td VALIGN="TOP" width="141" rowspan="13">
<p class="NormalTable">Не позднее 10.07 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">За счет средств федерального бюджета: </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота молочного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 5500 руб.; в племенном репродукторе - 4550 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота мясного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 6000 руб.; в племенном репродукторе - 5500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота генофондных пород </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В генофондном хозяйстве - 4550 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.4.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Свиней </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 5500 руб.; в племенном репродукторе - 4550 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.1.5.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Пушных зверей клеточного содержания </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 5500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">За счет средств областного бюджета:</p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">И не более 50% затрат на проведение мероприятия, определяемых в отношении животного соответствующего вида: </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота молочного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 550 руб.; в племенном репродукторе - 450 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота мясного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 600 руб.; в племенном репродукторе - 550 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота генофондных пород </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В генофондном хозяйстве - 450 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.4.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Свиней </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 550 руб.; в племенном репродукторе - 450 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.1.2.5.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Пушных т1зверей клеточного содержания </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 550 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание которого не субсидируется за счет средств, поступающих из федерального бюджета: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="9">
<p class="NormalTable">Сохранение или увеличение племенного маточного поголовья содержащихся сельскохозяйственных животных соответствующего вида по состоянию на начало месяца обращения за субсидией по сравнению с состоянием этого поголовья на начало года обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="132" rowspan="9">
<p class="NormalTable">1. Сохранение или увеличение племенного маточного поголовья содержащихся сельскохозяйственных животных соответствующего вида по состоянию на начало года обращения за субсидией по сравнению с состоянием этого поголовья на начало года, предшествующего году обращения за субсидией.</p>
<p class="NormalTable">2. В случае содержания крупного рогатого скота молочного и мясного направления продуктивности - получение на каждую корову, на содержание которой предоставляется субсидия, живого теленка в году, предшествующем году обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">Пропорционально периоду наличия в году обращения за субсидией статуса организации по племенному животноводству и не более 50% затрат на проведение мероприятия, определяемых в отношении животного соответствующего вида: </p>
</td>
<td VALIGN="TOP" width="141" rowspan="9">
<p class="NormalTable">Для получателей субсидий, отнесенных к организациям по племенному животноводству в году обращения за субсидией, - не позднее 10.12 этого года; для иных получателей субсидий - не позднее 10.07 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота молочного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 5000 руб.; в племенном репродукторе - 4000 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота мясного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 5500 руб.; в племенном репродукторе - 5000 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Крупного рогатого скота генофондных пород </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В генофондном хозяйстве - 4500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.4.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Свиней </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном заводе - 3000 руб.; в племенном репродукторе - 2500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.5.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Лошадей </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном репродукторе или заводской конюшне - 3500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.6.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Птицы </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном репродукторе - 3000 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.7.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Коз </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном репродукторе - 4500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>1.2.8.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Прудовых рыб </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">В племенном репродукторе - 3000 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание организациями по племенному животноводству основного стада племенных лошадей (кроме содержания, указанного в пункте 1 настоящей Особенной части) </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Содержание в году, предшествующем году обращения за субсидией, поголовья жеребцов-производителей</p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">Сохранение или увеличение поголовья содержащихся жеребцов-производителей по состоянию на начало месяца обращения за субсидией по сравнению с состоянием этого поголовья на начало года обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">10000 руб. на 1 жеребца-производителя, содержавшегося на начало года обращения за субсидией, пропорционально периоду наличия в году обращения за субсидией статуса организации по племенному животноводству, но не более 50% затрат на проведение мероприятия </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1006">форме</a> N Ж-2/1. 2. Внутрихозяйственные отчеты о движении скота и птицы на ферме за год, предшествующий году обращения за субсидией, и за год обращения за субсидией (по начало месяца обращения за субсидией), составленные по прилагаемой <a href="#1007">форме</a> N Ж-1/2.</p>
<p class="NormalTable">3. Документ, подтверждающий статус организации по племенному животноводству. 4. Отчет о производстве, себестоимости и реализации продукции животноводства за год, предшествующий году обращения за субсидией, составленный по форме годовой бухгалтерской отчетности N 13-АПК</p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Для получателей субсидий, отнесенных к организациям по племенному животноводству в году обращения за субсидией, - не позднее 10.12 этого года; для иных получателей субсидий - не позднее 10.07 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="-1032">3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение племенных производителей организациями по искусственному осеменению сельскохозяйственных животных: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="4">
<p class="NormalTable">Подтверждение племенной ценности приобретаемых в году обращения за субсидией животных</p>
</td>
<td VALIGN="TOP" width="132" rowspan="4">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">Не более 90% затрат на проведение мероприятия: </p>
</td>
<td VALIGN="TOP" width="166" rowspan="4">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1010">форме</a> N Ж-3/1. 2. Договор поставки (купли-продажи) и (или) комиссии, в т.ч. с рассрочкой оплаты, либо договор финансовой аренды (лизинга) племенных животных, а также кредитный договор в случае их оплаты за счет кредитных средств.</p>
<p class="NormalTable">3. Документы, подтверждающие оплату приобретенных племенных животных, включая внесение авансовых платежей.</p>
<p class="NormalTable">4. Акт-счет приема-передачи племенных животных, составленный по прилагаемой <a href="#1011">форме</a> N Ж-3/3.</p>
<p class="NormalTable">5. Сертификаты (свидетельства), подтверждающие происхождение, продуктивность и иные качества полученных племенных животных </p>
</td>
<td VALIGN="TOP" width="141" rowspan="4">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>3.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Быков-производителей, произведенных на территории Российской Федерации </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">50 руб. на 1 кг живой массы приобретенного животного </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>3.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Быков-производителей, произведенных за пределами территории Российской Федерации </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">50 тыс. руб. на 1 приобретенное животное </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>3.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Животных-производителей иных видов </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">50% затрат на проведение мероприятия </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="-1033">4.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание племенных производителей в организациях по искусственному осеменению сельскохозяйственных животных: </p>
</td>
<td VALIGN="TOP" width="182">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="132" rowspan="7">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">Не более 50% затрат на проведение мероприятия: </p>
</td>
<td VALIGN="TOP" width="166" rowspan="7">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1006">форме</a> N Ж-4/1. 2. Внутрихозяйственный отчет о движении скота и птицы на ферме за год обращения за субсидией (по начало месяца обращения за субсидией), составленный по прилагаемой <a href="#1007">форме</a> N Ж-1/2.</p>
<p class="NormalTable">3. Документ, подтверждающий статус организации по искусственному осеменению. 4. Отчет о производстве, себестоимости и реализации продукции животноводства за год, предшествующий году обращения за субсидией, составленный по форме годовой бухгалтерской отчетности N 13-АПК</p>
</td>
<td VALIGN="TOP" width="141" rowspan="7">
<p class="NormalTable">Не позднее 10.07 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>4.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Быков-производителей, содержание которых субсидируется за счет средств федерального бюджета: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="3">
<p class="NormalTable">Проведение мероприятия организациями по искусственному осеменению сельскохозяйственных животных, включенными в перечень, утверждаемый Минсельхозом России </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">На 1 быка-производителя, содержавшегося на начало года обращения за субсидией: </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>4.1.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">За счет средств федерального бюджета </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">145425 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="-412">4.1.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">За счет средств областного бюджета </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">14500 руб. </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>4.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Животных-производителей, содержание которых не субсидируется за счет средств федерального бюджета: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="3">
<p class="NormalTable">Сохранение или увеличение поголовья содержащихся животных-производителей соответствующего вида по состоянию на начало месяца обращения за субсидией по сравнению с состоянием этого поголовья на начало года обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="127">
<pre>&nbsp;</pre>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>4.2.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Быков-производителей </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">30000 руб. на 1 быка-производи- теля, содержавшегося на начало года обращения за субсидией </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>4.2.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Животных-производителей иных видов </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">40% затрат на проведение мероприятия </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="-5">5.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение организациями по племенному животноводству и сельскохозяйственными организациями, закупающими племенных животных, комбикормов и белково-витаминных и минеральных добавок </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Приобретение в году обращения за субсидией комбикормов и добавок, допущенных в установленном порядке к применению на территории Российской Федерации </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">3 руб. на 1 кг, но не более 40% стоимости приобретенных комбикормов и (или) кормовых добавок </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1013">форме</a> N Ж-5/1. 2. Счета-фактуры (или счета) на приобретенные комбикорма и (или) белково-витаминные добавки.</p>
<p class="NormalTable">3. Документы, подтверждающие принятие приобретенных комбикормов и (или) кормовых добавок.</p>
<p class="NormalTable">4. Документы, подтверждающие оплату приобретенных комбикормов и (или) кормовых добавок.</p>
<p class="NormalTable">5. Документы, подтверждающие качество приобретенных комбикормов и (или) кормовых добавок.</p>
<p class="NormalTable">6. В случае проведения мероприятия организацией по племенному животноводству - документ, подтверждающий статус организации по племенному животноводству. 7. В случае проведения мероприятия сельскохозяйственным товаропроизводителем, приобретающим племенных животных, - договор поставки (купли-продажи) племенных животных и (или) комиссии, в т.ч. с рассрочкой оплаты, либо договор финансовой аренды (лизинга) племенных животных </p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="6">6.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение организациями по племенному животноводству компьютерной техники и программ, необходимых для ведения первичного зоотехнического учета, анализа селекционного процесса и формирования сбалансированных рационов </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Проведение мероприятия в году обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">10000 руб. на 1 комплект, но не более 50% стоимости приобретенного комплекта компьютеров и (или) программ для них </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1015">форме</a> N Ж-6/1. 2. Счета-фактуры (или счета) на приобретенный комплект компьютеров и (или) программы для них.</p>
<p class="NormalTable">3. Документы, подтверждающие принятие приобретенных комплекта компьютеров и (или) программы для них.</p>
<p class="NormalTable">4. Документы, подтверждающие оплату приобретенных комплекта компьютеров и (или) программы для них.</p>
<p class="NormalTable">5. Документ, подтверждающий статус организации по племенному животноводству </p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>7.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Информационно-методическое совершенствование селекционной деятельности: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="6">
<p class="NormalTable">Проведение мероприятия в году обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="132" rowspan="6">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">Не более 90% затрат на проведение мероприятия: </p>
</td>
<td VALIGN="TOP" width="166" rowspan="6">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1017">форме</a> N Ж-7/1. 2. Договоры на выполнение работ (оказание услуг) (кроме вида мероприятия, указанного в <a href="#704">подстроке 7.4</a>).</p>
<p class="NormalTable">3. Документы, подтверждающие объемы и качество выполненных работ (оказанных услуг).</p>
<p class="NormalTable">4. Документы, подтверждающие оплату выполненных работ (оказанных услуг).</p>
<p class="NormalTable">5. Вызов или приглашение для участия в межрегиональных, российских, международных выставках, конкурсах или соревнованиях (в случае выполнения вида мероприятия, указанного в <a href="#704">подстроке 7.4</a>) </p>
</td>
<td VALIGN="TOP" width="141" rowspan="6">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>7.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Разработка и внедрение в производство новых технологий, научное и информационное обеспечение </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">100000 руб. на 1 новую технологию или на выполнение 1 работы (оказание 1 услуги) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>7.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Организация и проведение конкурсов, выставок</p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">500000 руб. на 1 конкурс или выставку </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>7.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Организация и проведение семинаров, совещаний, конференций </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">30000 руб. на 1 семинар, совещание, конференцию </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="704">7.4.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Участие в межрегиональных, российских, международных выставках, конкурсах или соревнованиях </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">100000 руб. на 1 выставку, конкурс, соревнование </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>7.5.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Подготовка, издание, выпуск методической литературы, рекомендаций и иных информационных материалов </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">100000 руб. на 1 произведение, изданное тиражом не менее 200 экземпляров </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="1034">8.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание и проведение испытаний племенных лошадей сельскохозяйственных товаропроизводителей Кировской области в племенных организациях по учету, контролю, оценке уровня продуктивности и качества продукции, племенной ценности лошадей </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Подтверждение племенной ценности содержащихся и испытываемых в году обращения за субсидией лошадей </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">90% затрат на проведение мероприятия </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1017">форме</a> N Ж-8/1. 2. Договоры на выполнение работ (оказание услуг).</p>
<p class="NormalTable">3. Документы, подтверждающие объемы и качество выполненных работ (оказанных услуг).</p>
<p class="NormalTable">4. Документы, подтверждающие оплату выполненных работ (оказанных услуг).</p>
<p class="NormalTable">5. Документ, подтверждающий статус племенной организации по учету, контролю, оценке уровня продуктивности и качества продукции, племенной ценности лошадей. 6. Сертификаты (свидетельства), подтверждающие происхождение, продуктивность и иные качества содержащихся и испытываемых лошадей </p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="1035">9.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение сельскохозяйственными товаропроизводителями племенной продукции (материала) в году обращения за субсидией: </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Соблюдаются требования нормативных правовых актов Российской Федерации о племенном животноводстве </p>
</td>
<td VALIGN="TOP" width="132" rowspan="6">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="166">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="141" rowspan="6">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>9.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение семени производителей </p>
</td>
<td VALIGN="TOP" width="182">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">7 руб. на 1 дозу семени, но не более 80% его стоимости </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1017">форме</a> N Ж-9/1. 2. Документы, подтверждающие оплату приобретенного семени.</p>
<p class="NormalTable">3. Счета-фактуры (или счета) на приобретенное семя.</p>
<p class="NormalTable">4. Документы, подтверждающие принятие приобретенного семени (накладные или др.).</p>
<p class="NormalTable">5. Документ, подтверждающий наличие у поставщика статуса организации по искусственному осеменению сельскохозяйственных животных (предоставляется один раз при первом обращении за субсидией).</p>
<p class="NormalTable">6. Документы, подтверждающие племенную ценность приобретаемого семени </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>9.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение племенных животных всех видов и (или) уплата лизинговых платежей по договорам финансовой аренды (лизинга) племенных животных, содержащим условие об их переходе в собственность получателя субсидии: </p>
</td>
<td VALIGN="TOP" width="182" rowspan="4">
<p class="NormalTable">На приобретение данного животного субсидия ранее не предоставлялась </p>
</td>
<td VALIGN="TOP" width="127">
<pre>&nbsp;</pre>
</td>
<td VALIGN="TOP" width="166" rowspan="4">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1018">форме</a> N Ж-9/2. 2. Документы, подтверждающие оплату приобретенных животных.</p>
<p class="NormalTable">3. Договор поставки (купли-продажи) и (или) комиссии, в т.ч. с рассрочкой оплаты, либо договор финансовой аренды (лизинга) племенных животных, а также кредитный договор в случае их оплаты за счет кредитных средств.</p>
<p class="NormalTable">4. Акт-счет приема-передачи племенных животных, составленный по прилагаемой <a href="#1011">форме</a> N Ж-3/3.</p>
<p class="NormalTable">5. Сертификаты (свидетельства), подтверждающие происхождение, продуктивность и иные качества полученных племенных животных.</p>
<p class="NormalTable">6. Документ, подтверждающий наличие у поставщика статуса организации по племенному животноводству </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>9.2.1.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Молодняка крупного рогатого скота молочного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">5 руб. на 1 кг живой массы, но не более 50% стоимости полученных животных </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>9.2.2.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Молодняка крупного рогатого скота мясного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">50 руб. на 1 кг живой массы, но не более 50% стоимости полученных животных </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>9.2.3.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Лошадей </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">50 руб. на 1 кг живой массы, но не более 90% стоимости полученных лошадей </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="110">10.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Производство и реализация племенных сельскохозяйственных животных организациями по племенному животноводству сельскохозяйственным товаропроизводителям Кировской области </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Подтверждение племенной ценности животных, реализуемых в IV квартале года, предшествующего году обращения за субсидией, либо в I - III кварталах года обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">30% затрат на проведение мероприятия, определяемых в отношении животных соответствующего вида и половозрастной группы </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1019">форме</a> N Ж-10/1. 2. Договор поставки (купли-продажи) и (при наличии) комиссии, в т.ч. с рассрочкой оплаты, либо договор финансовой аренды (лизинга) племенных животных.</p>
<p class="NormalTable">3. Документы, подтверждающие оплату реализованных племенных животных, включая внесение авансовых платежей.</p>
<p class="NormalTable">&nbsp;4. Акт-счет приема-передачи племенных животных, составленный по прилагаемой <a href="#1011">форме</a> N Ж-3/3.</p>
<p class="NormalTable">5. Сертификаты (свидетельства), подтверждающие происхождение, продуктивность и иные качества реализованных племенных животных.</p>
<p class="NormalTable">6. Документ, подтверждающий статус организации по племенному животноводству. 7. Отчет о производстве, себестоимости и реализации продукции животноводства за год проведения мероприятия, составленный по форме годовой бухгалтерской отчетности N 13-АПК</p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p id="11111">11.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Содержание коров мясного направления продуктивности </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Сохранение или увеличение сельскохозяйственными товаропроизводителями, специализирующимися на выращивании и откорме крупного рогатого скота мясных пород, поголовья содержащихся коров по состоянию на начало месяца обращения за субсидией по сравнению с состоянием этого поголовья на начало года обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">2930 руб. на 1 корову, содержавшуюся на начало года обращения за субсидией (для сельскохозяйственных товаропроизводителей, получивших в году обращения за субсидией статус организации по племенному животноводству, - пропорционально периоду отсутствия такого статуса в указанном году), но не более 50% затрат на проведение мероприятия </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1010">форме</a> N Ж-11/1.</p>
<p class="NormalTable">2. Внутрихозяйственные отчеты о движении скота и птицы на ферме за год обращения за субсидией (по начало месяца обращения за субсидией), составленные по прилагаемой <a href="#1007">форме</a> N Ж-1/2.</p>
<p class="NormalTable">3. Отчет о производстве, себестоимости и реализации продукции животноводства за год, предшествующий году обращения за субсидией, составленный по форме годовой бухгалтерской отчетности N 13-АПК</p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.07 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>12.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Приобретение молодняка крупного рогатого скота молочных пород для организации его интенсивного откорма на специализированных площадках с поголовьем не менее 3000 голов </p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">1. Приобретение осуществляется в IV квартале года, предшествующего году обращения за субсидией, либо в I - III кварталах года обращения за субсидией сельскохозяйственными товаропроизводителями, имеющими специализированные площадки, расположенные на территории Кировской области.</p>
<p class="NormalTable">2. Доля поголовья молодняка крупного рогатого скота молочных пород, приобретенного у сельскохозяйственных товаропроизводителей, зарегистрированных на территории Кировской области, не ниже минимального размера, определенного в графе 4 настоящего пункта </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">1. Доля поголовья молодняка крупного рогатого скота молочных пород, приобретенного у сельскохозяйственных товаропроизводителей, зарегистрированных на территории Кировской области, составляет не менее 90%.</p>
<p class="NormalTable">2. Обеспечение получателем субсидии среднесуточного прироста живой массы молодняка на откорме не менее 600 граммов в квартале, в течение которого приобретался молодняк.</p>
<p class="NormalTable">3. Живая масса каждого приобретенного сельскохозяйственного животного не более 250 кг </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">24 руб. на 1 кг живой массы, не превышающей у 1 животного 250 кг, но не более 40% стоимости приобретенных животных </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1021">форме</a> N Ж-12/1.</p>
<p class="NormalTable">2. Внутрихозяйственный отчет о движении скота и птицы на ферме за квартал, в течение которого приобретался молодняк, составленный по прилагаемой <a href="#1007">форме</a> N Ж-1/2.</p>
<p class="NormalTable">3. Счета-фактуры (или счета) на приобретенных животных.</p>
<p class="NormalTable">4. Документы, подтверждающие принятие приобретенных животных.</p>
<p class="NormalTable">5. Документы, подтверждающие оплату приобретенных животных, включая внесение авансовых платежей </p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 10.12 года проведения мероприятия (года обращения за субсидией) </p>
</td>
</tr>
 <tr>
<td VALIGN="TOP" width="59">
<p>13.</p>
</td>
<td VALIGN="TOP" width="168">
<p class="NormalTable">Увеличение объемов производства молока</p>
</td>
<td VALIGN="TOP" width="182">
<p class="NormalTable">Увеличение сельскохозяйственными товаропроизводителями объемов производства в I квартале года обращения за субсидией по сравнению с объемами производства в аналогичном периоде года, предшествующего году проведения мероприятия </p>
</td>
<td VALIGN="TOP" width="132">
<p class="NormalTable">&nbsp;- </p>
</td>
<td VALIGN="TOP" width="127">
<p class="NormalTable">200 руб. на 1 ц молока, дополнительно произведенного в I квартале года обращения за субсидией по сравнению с I кварталом года, предшествующего году проведения мероприятия, но не более 80% затрат на проведение мероприятия </p>
</td>
<td VALIGN="TOP" width="166">
<p class="NormalTable">1. Справка-расчет суммы субсидии, составленная по прилагаемой <a href="#1023">форме</a> N Ж-13/1.</p>
<p class="NormalTable">2. Сведения о производстве и отгрузке сельскохозяйственной продукции, составленные по форме федерального статистического наблюдения N П-1 (СХ), или сведения о производстве продукции животноводства и поголовье скота, составленные по форме федерального статистического наблюдения N 3-фермер, за I квартал года обращения за субсидией и I квартал года, предшествующего году обращения за субсидией </p>
</td>
<td VALIGN="TOP" width="141">
<p class="NormalTable">Не позднее 15 числа месяца, следующего за кварталом проведения мероприятия, а в 2010 году - не позднее 30 дней со дня вступления в силу настоящего Регламента </p>
</td>
</tr>
</table>
<pre>&nbsp;</pre>
</body>
</html>
