<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<style type="text/css">#main-page{width:100%;} #page-content{width:100%;}</style>
</head>
<body class="news-detail" style="border: 0; border-style: none">
<table> 
<tbody> 
<tr> <td></p><p></p><p></td></tr>
</tbody>
</table><p></p><table> 
<tbody> 
<tr> <td> 
<p>Об утверждении проекта планировки и проекта межевания территории, ограниченной Южным шоссе, Армянским переулком, проспектом Гоголя Всеволожским проспектом в г.Всеволожске</p>
</td> </tr>
</tbody>
</table><p></p></td> </tr>
</tbody>
</table>
<p>Рассмотрев:</p>
<p>- Проект планировки и проект межевания территории, ограниченной Южным шоссе, Армянским переулком, проспектом Гоголя, Всеволожским проспектом в г.Всеволожске, разработанный на основании постановления администрации МО "Город Всеволожск" Всеволожского муниципального района Ленинградской области N 410 от 25.05.2011;</p>
<p>- Протокол результатов публичных слушаний по обсуждению проекта планировки и проекта межевания территории, ограниченной Южным шоссе, Армянским переулком, проспектом Гоголя, Всеволожским проспектом в г.Всеволожске, утвержденный главой МО "Город Всеволожск" 17 сентября 2012 года;</p>
<p>- Заключение о результатах публичных слушаний по обсуждению проекта планировки и проекта межевания территории, ограниченной Южным шоссе, Армянским переулком, проспектом Гоголя, Всеволожским проспектом в г.Всеволожске, утвержденное главой МО "Город Всеволожск" 21 сентября 2012 года;</p>
<p>В соответствии со ст. 42, 43, 45, 46 Градостроительного кодекса Российской Федерации, с Земельным Кодексом Российской Федерации от 25 октября 2001 года N 136-ФЗ, Федеральным Законом от 29 декабря 2004 года N191-ФЗ "О введении в действие Градостроительного Кодекса Российской Федерации" администрация МО "Город Всеволожск" Всеволожского муниципального района Ленинградской области постановляет:</p>
<p>1. Утвердить проект планировки и проект межевания территории, ограниченной Южным шоссе, Армянским переулком, проспектом Гоголя, Всеволожским проспектом в г.Всеволожске в отношении земельных участков в соответствии с чертежом межевания:</p>
<p>- N 1, площадью 0,73 га для размещения многоквартирного дома;</p>
<p>- N 2, площадью 1,10 га для размещения многоквартирного дома;</p>
<p>- N 3, площадью 0,10 га для размещения объекта торговли;</p>
<p>- N 4, площадью 0,01 га для размещения трансформаторной подстанции;</p>
<p>- N 14, площадью 0,22 га для размещения жилого дома;</p>
<p>- N 15, площадью 0,12 га для размещения жилого дома;</p>
<p>- N 16, площадью 0,23 га для размещения жилого дома;</p>
<p>- N 17, площадью 0,19 га для размещения жилого дома;</p>
<p>- N 18, площадью 0,12 га для размещения жилого дома;</p>
<p>- N 19, площадью 0,10 га для размещения жилого дома;</p>
<p>- N 20, площадью 0,10 га для размещения жилого дома;</p>
<p>- N 21, площадью 0,09 га для размещения жилого дома;</p>
<p>- N 23, площадью 0,87 га для размещения объекта дошкольного образования. (Приложение 1-4).</p>
<p>3. Пресс-секретарю администрации обеспечить публикацию настоящего постановления с приложениями в средствах массовой информации и разместить постановление на официальном сайте МО "Город Всеволожск" в сети "Интернет".</p>
<p>4. Контроль исполнения постановления оставляю за собой.</p><p></p><table> 
<tbody> 
<tr> <td><p></p><p>Глава администрации С.А. Гармаш</p>
</td> </tr>
<tr> <td><p></p></td> </tr>
<tr> <td><p></p></td> </tr>
</tbody>
</table><p></p></p><p>
</body>
</html>