<html>
<body>
<table class="tablencpi" width="100%; " cellspacing="0" style="BORDER-BOTTOM: solid windowtext 0.5pt; BORDER-TOP: solid windowtext 0.5pt; BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; width:100%; border-collapse:collapse;">
<tr style="height: 12pt;">
<td valign="top" style="width:34.6%; padding:0cm .3pt 0cm .3pt;BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="MARGIN-LEFT: 0.5008818342151675cm; ">обеспеченные специальным легковым автотранспортом</p>
</td>
<td valign="top" style="width:7.7%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">007</p>
</td>
<td valign="top" style="width:11.54%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">единиц</p>
</td>
<td valign="top" style="width:7%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">/*</p>
</td>
<td valign="top" style="width:10.3%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">/*</p>
</td>
<td valign="top" style="width:9.62%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">х</p>
</td>
<td valign="top" style="width:11.54%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-right: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">х</p>
</td>
<td valign="top" style="width:7.7%; padding:0cm .3pt 0cm .3pt;BORDER-LEFT: solid windowtext 0.5pt; BORDER-top: solid windowtext 0.5pt; BORDER-BOTTOM: solid windowtext 0.5pt;   "><p class="table10" style="TEXT-ALIGN: center; ">х</p>
</td>
</tr>
</table>
</body></html>
