<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="4">

  <User login="Etalon"/>

  <Configurations>
    <Configuration id="1000" readonly="0" source_configuration_id="1">
      <name>Стандартная Clone</name>
      <hint>Стандартная</hint>
    </Configuration>
    <Active id="2"/>
  </Configurations>

  <PropertyValues version="2">
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatLeft">
      <default>406</default>
      <actual>406</actual>
    </Value>
    <Value configuration="1" property="sthfSituation/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWindowID">
      <default>314</default>
      <actual>314</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/GlobalFiltersWarning/Left">
      <default>132</default>
      <actual>132</actual>
    </Value>
    <Value configuration="1" property="sthfPublish/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatHeight">
      <default>1011</default>
      <actual>1011</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/TrialModeWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/ControlledChangingWarning/Left">
      <default>32</default>
      <actual>32</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWidth">
      <default>677</default>
      <actual>677</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_RECORD_LIST">
      <default>AQAPAC4AAQAbAAoA1gc=
</default>
      <actual>AQAQAC4AAQARAAsA1gc=
</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatTop">
      <default>117</default>
      <actual>117</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/TrialModeWarning/Left">
      <default>182</default>
      <actual>182</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatTop">
      <default>155</default>
      <actual>155</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/GlobalFiltersWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/ControlledChangingWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="stidNavigatorTree/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatWindowID">
      <default>314</default>
      <actual>314</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatHeight">
      <default>1049</default>
      <actual>1049</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatLeft">
      <default>416</default>
      <actual>416</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_ORDER_VERSION">
      <default>46</default>
      <actual>46</actual>
    </Value>
    <Value configuration="1" property="sthfLastOpenDocs/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidNavigator/stWordPosition">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatWidth">
      <default>687</default>
      <actual>687</actual>
    </Value>
    <Value configuration="1" property="sthfAttribute/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidFoldersTree/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_SHOWN">
      <default>15</default>
      <actual>16</actual>
    </Value>
    <Value configuration="1" property="sthfReview/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="stidtvConfs/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatLeft">
      <default>406</default>
      <actual>406</actual>
    </Value>
    <Value configuration="2" property="sthfSituation/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWindowID">
      <default>314</default>
      <actual>314</actual>
    </Value>
    <Value configuration="2" property="Настройки интерфейса/Правый навигатор">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="stidRubricatorList/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/GlobalFiltersWarning/Left">
      <default>132</default>
      <actual>132</actual>
    </Value>
    <Value configuration="2" property="sthfPublish/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatHeight">
      <default>1011</default>
      <actual>1011</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/TrialModeWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/ControlledChangingWarning/Left">
      <default>32</default>
      <actual>32</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWidth">
      <default>677</default>
      <actual>677</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/fRightNavigator/Width">
      <default>31</default>
      <actual>29</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatTop">
      <default>117</default>
      <actual>117</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/TrialModeWarning/Left">
      <default>182</default>
      <actual>182</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatTop">
      <default>155</default>
      <actual>155</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>96</default>
      <actual>233</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/GlobalFiltersWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="2" property="utMainWindow/ControlledChangingWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="2" property="stidNavigatorTree/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatWindowID">
      <default>314</default>
      <actual>314</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatHeight">
      <default>1049</default>
      <actual>1049</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatLeft">
      <default>416</default>
      <actual>416</actual>
    </Value>
    <Value configuration="2" property="sthfLastOpenDocs/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="stidNavigator/stWordPosition">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="Настройки форм/utMainWindow/utNavigator/vcm_ztNavigator/FloatWidth">
      <default>687</default>
      <actual>687</actual>
    </Value>
    <Value configuration="2" property="sthfAttribute/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="stidFoldersTree/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="2" property="sthfReview/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1000" property="Поиск контекста/Строки">
      <default>Союзное государство имеет свой герб
1. Союзное государство имеет свой герб
статья 32
статья 8
</default>
      <actual>Союзное государство имеет свой герб
1. Союзное государство имеет свой герб
статья 32
статья 8
</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/fLeftNavigator/Width">
      <default>271</default>
      <actual>271</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/pfImage/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utSettings/Maximized">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/dftDocSynchroView/vcm_ztChild/Zone">
      <default>DocView</default>
      <actual>DocView</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/Position">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Внутренняя/Документ/Напоминание/Левая позиция">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/dftDocSynchroView/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/lftRubricator/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR2/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/Dock">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/pfImage/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/en_FindContext/Height">
      <default>182</default>
      <actual>182</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/DefaultPositions">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utSettings/Height">
      <default>625</default>
      <actual>625</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/dftDocument/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/DocNumberQuery/Top">
      <default>320</default>
      <actual>320</actual>
    </Value>
    <Value configuration="1000" property="Внутренняя/Документ/Напоминание/Анкоры">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/dftDocSynchroView/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/Row">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR1/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/Top">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/lftRubricator/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utSettings/Top">
      <default>71</default>
      <actual>71</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/FloatY">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>666</default>
      <actual>666</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftCorrespondent/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftCorrespondent/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR2/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR1/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftCorrespondent/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/liListInfo/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utRubricatorList/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/dftDocSynchroView/Toolbars/tbTextFormTop/Position">
      <default>45</default>
      <actual>45</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/Position">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/fDocAttribute/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR2/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/en_FindContext/Top">
      <default>-384</default>
      <actual>-384</actual>
    </Value>
    <Value configuration="1000" property="Внутренняя/Документ/Напоминание/Верхняя позиция">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/dftDocument/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utSettings/Left">
      <default>92</default>
      <actual>92</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/Maximized">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/FloatX">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/dftRelatedDoc/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utRubricatorList/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/fDocAttribute/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/FloatX">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/DocNumberQuery/Height">
      <default>127</default>
      <actual>127</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/svSynchroView/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/Width">
      <default>1032</default>
      <actual>1032</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utRubricatorList/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/Height">
      <default>742</default>
      <actual>742</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/en_FindContext/Left">
      <default>-445</default>
      <actual>-445</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/Row">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utFolders/Top">
      <default>90</default>
      <actual>90</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/fChildZone/Width">
      <default>768</default>
      <actual>768</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/lftUserCR1/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>666</default>
      <actual>666</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/FloatY">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/dftRelatedDoc/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/Dock">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utSettings/Width">
      <default>839</default>
      <actual>839</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/Width">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/pfImage/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/liListInfo/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/Left">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/dftDocument/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/liListInfo/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR2/Toolbars/tbefListTop/Width">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/fDocAttribute/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/lftUserCR1/Toolbars/tbefListTop/DefaultPositions">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/utHistory/lftRubricator/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1000" property="Настройки форм/utMainWindow/ChildForm/dftRelatedDoc/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
  </PropertyValues>

</Settings>
