<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="5">

  <User login="_predefined_data"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues version="4">
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fRightNavigator/Height">
      <default>839</default>
      <actual>880</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>792</default>
      <actual>797</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/TrialModeWarning/Left">
      <default>182</default>
      <actual>182</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fChildZone/Height">
      <default>0</default>
      <actual>389</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Width">
      <default>341</default>
      <actual>258</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatLeft">
      <default>406</default>
      <actual>406</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/OldBaseWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_SHOWN">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_ORDER_VERSION">
      <default>58</default>
      <actual>46</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/ControlledChangingWarning/Left">
      <default>32</default>
      <actual>32</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_RECORD_LIST">
      <default>CwABADoAAQAJAAoA1wc=
</default>
      <actual>SwABAC4AAQALAAIA2Qc=
</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/nsLoginForm/Height">
      <default>147</default>
      <actual>272</actual>
    </Value>
    <Value configuration="1" property="Внутренняя/Базовый поиск/Счетчик запусков">
      <default>5</default>
      <actual>6</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/nsLoginForm/Top">
      <default>438</default>
      <actual>376</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/RemindersLine/PosY">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/RemindersLine/PosX">
      <default>25</default>
      <actual>25</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fLeftNavigator/Width">
      <default>301</default>
      <actual>287</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatHeight">
      <default>1049</default>
      <actual>1049</actual>
    </Value>
    <Value configuration="1" property="stidFoldersTree/stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>233</default>
      <actual>345</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fLeftNavigator/Height">
      <default>839</default>
      <actual>880</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fLeftNavigator/ParentWidth">
      <default>1280</default>
      <actual>1280</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fLeftNavigator/ParentHeight">
      <default>921</default>
      <actual>921</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fRightNavigator/ParentWidth">
      <default>1280</default>
      <actual>1280</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fRightNavigator/ParentHeight">
      <default>921</default>
      <actual>921</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fChildZone/ParentWidth">
      <default>991</default>
      <actual>991</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/fChildZone/ParentHeight">
      <default>880</default>
      <actual>880</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/ParentWidth">
      <default>256</default>
      <actual>256</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/ParentHeight">
      <default>739</default>
      <actual>739</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/BaseSearchPanel/ParentWidth">
      <default>1280</default>
      <actual>1280</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/BaseSearchPanel/ParentHeight">
      <default>873</default>
      <actual>873</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/remUnreadConsultations/Top">
      <default>20</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/ParentWidth">
      <default>1280</default>
      <actual>1280</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatTop">
      <default>155</default>
      <actual>155</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/ParentHeight">
      <default>873</default>
      <actual>873</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/GlobalFiltersWarning/Left">
      <default>132</default>
      <actual>132</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/ParentWidth">
      <default>1280</default>
      <actual>1280</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/ParentHeight">
      <default>873</default>
      <actual>873</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fChildZone/ParentWidth">
      <default>991</default>
      <actual>991</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/remUnreadConsultations/Left">
      <default>63</default>
      <actual>75</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fChildZone/ParentHeight">
      <default>797</default>
      <actual>797</actual>
    </Value>
    <Value configuration="1" property="SERVER_CURRENT_TIP">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fChildZone/Height">
      <default>260</default>
      <actual>381</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/efStartupTips/Maximized">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/efStartupTips/Top">
      <default>361</default>
      <actual>361</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/efStartupTips/Left">
      <default>444</default>
      <actual>444</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/efStartupTips/Width">
      <default>392</default>
      <actual>392</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/efStartupTips/Height">
      <default>283</default>
      <actual>283</actual>
    </Value>
    <Value configuration="1" property="pi_FirstLogin">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utEmptyMainWindow/Height">
      <default>971</default>
      <actual>1002</actual>
    </Value>
    <Value configuration="1" property="utEmptyMainWindow/MyPostingList/vcm_ztNavigator/Zone">
      <default>fLeftNavigator</default>
      <actual>fLeftNavigator</actual>
    </Value>
    <Value configuration="1" property="utEmptyMainWindow/utHistory/slqtPostingOrder/utqcPostingOrder/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>792</default>
      <actual>797</actual>
    </Value>
    <Value configuration="1" property="utEmptyMainWindow/utHistory/slqtPostingOrder/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="utEmptyMainWindow/utHistory/vcm_ztParent/Zone">
      <default>fParentZone</default>
      <actual>fParentZone</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/OldBaseWarning/Left">
      <default>25</default>
      <actual>25</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/ControlledChangingWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/TrialModeWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWindowID">
      <default>314</default>
      <actual>314</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/FloatWidth">
      <default>677</default>
      <actual>677</actual>
    </Value>
    <Value configuration="1" property="utMainWindow/GlobalFiltersWarning/Top">
      <default>8</default>
      <actual>8</actual>
    </Value>
  </PropertyValues>

</Settings>
