<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="3">

  <User login="1"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>700</default>
      <actual>680</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>700</default>
      <actual>680</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_ORDER_VERSION">
      <default>29</default>
      <actual>29</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_RECORD_LIST">
      <default>CQABAB0AAQAVAAQA1Qc=
</default>
      <actual>CQABAB0AAQAVAAQA1QcBAAEAHQABABMACgDVBw==
</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Maximized">
      <default>255</default>
      <actual>255</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Top">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="sthfReview/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="sthfPublish/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/utqfAttributeSearch/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="sthfSituation/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="sthfAttribute/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="sthfLastOpenDocs/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Поиск контекста/Строки">
      <default>по всему тексту
</default>
      <actual>абракадабра
ищем в предложении
ищем в абзаце
только в названии
по всему тексту
</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/utqfAttributeSearch/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_SHOWN">
      <default>1</default>
      <actual>2</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Left">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Width">
      <default>1032</default>
      <actual>1032</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>287</default>
      <actual>233</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/slqtAttribute/Toolbars/tbcfSaveLoadTop/Position">
      <default>470</default>
      <actual>418</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Height">
      <default>776</default>
      <actual>746</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Width">
      <default>420</default>
      <actual>341</actual>
    </Value>
    <Value configuration="1" property="stidStyleTreeView\stWrap">
      <default>255</default>
      <actual>255</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/slqtAttribute/utqfAttributeSearch/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
  </PropertyValues>

</Settings>
