<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Settings xml_version="4">

  <User login="1"/>

  <Configurations>
    <Active id="1"/>
  </Configurations>

  <PropertyValues version="0">
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Width">
      <default>420</default>
      <actual>341</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="stidStyleTreeView\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidNavigatorTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="sthfSituation/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidFoldersTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidGlobalFiltersList\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidDictionTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Top">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="sthfPublish/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fRightNavigator/Height">
      <default>700</default>
      <actual>928</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersProperty/vcm_ztChild/Zone">
      <default>ChildZone</default>
      <actual>ChildZone</actual>
    </Value>
    <Value configuration="1" property="stidRedactionTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidUnderControlList\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidAttributeTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_RECORD_LIST">
      <default>6AMGABkAAQATAAEA1Qc=
</default>
      <actual>AQABAB0AAQAOAAMA1gc=
</actual>
    </Value>
    <Value configuration="1" property="stidRubricatorList\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="sthfReview\State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidtvConfs\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidSelectedTree\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/vcm_ztNavigator/ChildZone/Height">
      <default>286</default>
      <actual>233</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Maximized">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/FloatWindowState">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Width">
      <default>1032</default>
      <actual>1288</actual>
    </Value>
    <Value configuration="1" property="stidFiltersList\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="stidFirstLevelContent\stWrap">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Height">
      <default>776</default>
      <actual>1002</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_ORDER_VERSION">
      <default>25</default>
      <actual>29</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/fLeftNavigator/Height">
      <default>700</default>
      <actual>928</actual>
    </Value>
    <Value configuration="1" property="sthfLastOpenDocs/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/Left">
      <default>-4</default>
      <actual>-4</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utHistory/utMainMenuNew/vcm_ztParent/Zone">
      <default>ParentZone</default>
      <actual>ParentZone</actual>
    </Value>
    <Value configuration="1" property="sthfAttribute/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="SERVER_PROPERTY_SPLASH_SHOWN">
      <default>6</default>
      <actual>1</actual>
    </Value>
    <Value configuration="1" property="Настройки форм/utMainWindow/utFolders/utFoldersTree/vcm_ztParent/Floating">
      <default>0</default>
      <actual>0</actual>
    </Value>
    <Value configuration="1" property="sthfReview/State">
      <default>1</default>
      <actual>1</actual>
    </Value>
  </PropertyValues>

</Settings>
